@import './../../styles/_variables.scss';

.header {
  position: fixed;
  z-index: 4;
  min-height: 80px;
  width: 100%;
  top: 0;
  background: $block-color;
  border-bottom: solid $fone-color 2px;
  &__container {
    display: flex;
    align-items: center;
  }
}

.menu {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-right: solid  $fone-color 2px;
  &__list {
    list-style: none;
    display: flex;
    padding: 0;
  }
  &__item {
    margin-left: 50px;
  }
  &__link {
    text-decoration: none;
    font-size: $text-size-small;
    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__title {
    margin: 0;
    text-transform: uppercase;
    padding-top: 10px;
  }
}

.logo {
  padding: 15px 30px;
  border-right: solid  $fone-color 2px;
}

.search {
  min-height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  border-right: solid  $fone-color 2px;
  &__form {
    position: relative;
    display: flex;
    margin-left: 50px;
    top: 30%;
    width: 100%;
    ::placeholder {
      color: $text-color-light;
    }
  }
  &__bar {
    margin: 0 auto;
    width: 100%;
    height: 45px;
    font-size: 16px;
    border:none;
    outline: 0;
    padding-right: 20px;
  }
  &__icon {
    position: relative;
    float: left;
    width: 25px;
    height: 25px;
    right: -35px;
  }
}

.info {
  width: 100%;
  border-right: solid $fone-color 2px;
  &__container {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    align-items: center;
  }
  &__img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
  }
  &__name {
    text-transform: uppercase;
    font-size: $text-size-small;
  } 
}

.other {
  cursor: pointer;
  &__button {
    &::before {
      content: '\2807';
      font-size: 50px;
    }
  }
}

// button {
//   cursor: pointer;
//   width: 100px;
//   height: 100px;
//   background-image: radial-gradient(circle, black 10px, transparent 11px);
//   background-size: 100% 33.33%;
// }