<div class="header">
  <div class="header__container">
    <div class="logo">
      <a [routerLink]="['/user', 'profile']" >
        <img src="../../assets/logo/Logo.svg" alt="">
      </a>
    </div>
    <nav class="menu">
      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__link" [routerLink]="['/user', 'feed']">
            <div class="menu__link__wrapper">
              <img src="../../assets/icons/rss.svg" alt="">
              <p class="menu__title">Feed</p>
            </div>
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" [routerLink]="['/network']">
            <div class="menu__link__wrapper">
              <img src="../../assets/icons/users.svg" alt="">
              <p class="menu__title">Network</p>
            </div>
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" [routerLink]="['/jobs']">
            <div class="menu__link__wrapper">
              <img src="../../assets/icons/briefcase.svg" alt="">
              <p class="menu__title">Jobs</p>
            </div>
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" [routerLink]="['/chat']">
            <div class="menu__link__wrapper">
              <img src="../../assets/icons/message-square.svg" alt="">
              <p class="menu__title">Chat</p>
            </div>
          </a>
        </li>
      </ul>
    </nav>
    <div class="search">
      <a href="#">
        <img class="search__icon" src="../../assets/icons/search-icon.svg" alt="">
      </a>
      <form class="search__form">
        <input type="text" class="search__bar" placeholder="Search">
      </form>
    </div>
    <div class="info">
      <div class="info__container">
        <div>
          <img class="info__img" [src]="profile.avatar" alt="">
        </div>
        <div class="info__text">
          <p class="info__name">{{profile.firstName.substring(0, 1)}}.{{profile.lastName}} <span>you</span></p>
          <p class="info__stat">{{profile.views.totalViews}} views today <span>+{{profile.views.newViews}}</span></p>
        </div>
      </div>
    </div>
    <div class="other">
      <div class="other__button"> Other
      </div>
    </div>
  </div>
</div>
