@import './../../styles/_variables.scss';
@import './../../styles/_fonts.scss';

.header {
  position: fixed;
  z-index: 4;
  min-height: 80px;
  width: 100%;
  top: 0;
  background: $block-color;
  border-bottom: solid $fone-color 2px;
  &__container {
    display: flex;
    align-items: center;
  }
}

.menu {
  font-family: Gotham Pro Regular;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-right: solid  $fone-color 2px;
  &__list {
    list-style: none;
    display: flex;
    padding: 0;
  }
  &__item {
    margin-left: 50px;
  }
  &__link {
    text-decoration: none;
    font-size: $text-size-small;
    color: $text-color-primary !important;
    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__title {
    margin: 0;
    text-transform: uppercase;
    padding-top: 10px;
  }
}

.logo {
  padding: 15px 30px;
  border-right: solid  $fone-color 2px;
}

.search {
  font-family: Gotham Pro Regular;
  min-height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  border-right: solid  $fone-color 2px;
  &__form {
    position: relative;
    display: flex;
    margin-left: 50px;
    top: 30%;
    width: 100%;
    ::placeholder {
      font-family: Gotham Pro Regular;
      color: $text-color-light;
    }
  }
  &__bar {
    margin: 0 auto;
    width: 100%;
    height: 45px;
    font-size: 16px;
    border:none;
    outline: 0;
    padding-right: 20px;
  }
  &__icon {
    position: relative;
    float: left;
    width: 25px;
    height: 25px;
    right: -35px;
  }
}

.info {
  font-family: Gotham Pro Regular;
  width: 90%;
  border-right: solid $fone-color 2px;
  &__container {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    align-items: center;
  }
  &__img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
  }
  &__text {
    margin-left: 15px;
  }
  &__name {
    text-transform: uppercase;
    font-size: $text-size-small;
    line-height: 11px;
    span {
      margin-left: 5px;
      opacity: 0.2;
    }
  } 
  &__stat {
    span {
      color: #02B033;
    }
  }
}

.other {
  cursor: pointer;
  width: 25%;
  &__button {
    &::before {
      content: '\2807';
      font-size: 50px;
    }
  }
}