<div class="notice__container">
  <div class="notice__sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="notice__wrapper">
    <div class="notice__recent">
      <div class="filter">
        <p class="filter__select__trigger">Recent</p>
      </div>
      <div class="notice__recent__container">
        <div>
          <div class="notice-card">
            <div class="notice-card__container">
              <div class="notice-card__img-wrapper">
                <img src="../../../assets/img/Photo1.png" alt="">
              </div>
              <div class="notice-card__text-wrapper">
                <p>You appeared in 9 searches this week</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="notice__recent">
      <div class="filter">
        <p class="filter__select__trigger">Earler</p>
      </div>
    </div>
  </div>
</div>
