@import '../../../styles/variables';
@import '../../../styles/_fonts.scss';

@import '../../../styles/buttons.scss';

@import '../../../styles/mixins';

main {
  background: $fone-color;
  padding-top: 80px;
  display: flex;
}

.blur {
  filter: blur(2px);
  opacity: 0.5;
}

.container {
  margin: 0 auto;
  padding: 40px 110px;
  flex: 1;
}