<div class="feed__container">
  <div class="feed__wrapper">
    <app-feed-create-post></app-feed-create-post>
    <div class="filter">
      <p class="filter__select__trigger">Sort by: <span>Trending</span></p>
    </div>
    <div class="feed__posts-content__trending">
      <app-feed-last-liked-posts></app-feed-last-liked-posts>
      <app-feed-trending-comment-posts></app-feed-trending-comment-posts>
      <app-feed-trending-rated-posts></app-feed-trending-rated-posts>
      <app-feed-trending-first-posts></app-feed-trending-first-posts>
    </div>
  </div>
  <div class="feed__sidebar">
    <app-sidebar></app-sidebar>
  </div>
</div>