@import '../../../styles/_variables.scss';
@import '../../../styles/_fonts.scss';

.feed {
  &__container {
    display: flex;
    
  }
  &__wrapper {
    flex: 2 1 70%;
    //min-width: 850px;
  }
  &__sidebar {
    margin-left: 40px;
    flex: 2 1 25%;
  }
}