<div class="network__container">
  <div class="network__sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="network__wrapper">
    <div class="profile__navigation">
      <button class="network__tab-button network__tab-button--active">Received</button>
      <button class="network__tab-button">sent</button>
    </div>
    <div id="received" class="network__tab--active">
      <div class="network__tab-item">
        <h2>Здесь пока ничего нет</h2>
      </div>
    </div>
    <div id="sent" class="network__tab">
      <div class="network__tab-item">
        <h2>Здесь пока ничего нет</h2>
      </div>
    </div>
  </div>
</div>
