<div class="network__container">
  <div class="network__sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="network__wrapper">
    <div id="connections" class="tabs__tab">
      <app-connections></app-connections>
    </div>
    <div id="invitations" class="tabs__tab tabs__tab--active">
      <app-invitations></app-invitations>
    </div>
    <div id="teammates" class="tabs__tab">
      <app-teammates></app-teammates>
    </div>
    <div id="groups" class="tabs__tab">
      <app-groups></app-groups>
    </div>
    <div id="pages" class="tabs__tab">
      <app-pages></app-pages>
    </div>
    <div id="hashtags" class="tabs__tab">
      <app-hashtags></app-hashtags>
    </div>
  </div>
</div>
