@import '../../../styles/_variables.scss';
@import '../../../styles/_fonts.scss';

.network {
  &__container {
    display: flex;
    
  }
  &__wrapper {
    flex: 2 1 70%;
  }
  &__sidebar {
    margin-right: 40px;
    flex: 2 1 15%;
  }
  &__navigation {
    margin-top: 35px;
    border-bottom: solid #E7E7E7 1px;
  }
}