@import '../../../../../styles/variables';
@import '../../../../../styles/_fonts.scss';

main {
  background: $fone-color;
  padding-top: 80px;
  display: flex;
}

.container {
  margin: 0 auto;
  padding: 40px 110px;
  flex: 1;
}