<div class="profile-projects">
  <div class="profile-projects__container">
    <div class="profile-projects__title-wrapper">
      <h2 class="profile-projects__title">Projects <span>3 of {{profile.projectCount}}</span></h2>
    </div>
    <div class="profile-projects__project-list">
      <app-profile-project class="profile-projects__project-item"
      *ngFor="let project of projects"
      [project]="project"
      ></app-profile-project>
    </div>
    <div class="profile-projects__wrapper-link">
      <a class="profile-projects__link" href="#">See all ({{profile.projectCount}})</a>
    </div>
  </div>
</div>
