<form [formGroup]="form" (ngSubmit)="submit()">
  <h2>Войти в LinkedIn</h2>

  <div *ngIf="auth.error$ | async as error">{{error}}</div>
  <div *ngIf="message">{{message}}</div>
  <div
    
  >
    <label for="email"></label>
    <input id="email" type="email" formControlName="email">
    <div>
      <small
        
      >Введите адрес почты</small>
      <small
        
      >Поле email должно быть email</small>
    </div>
  </div>

  <div>
    <label for="password"></label>
    <input id="password" type="password" formControlName="password">
    <div
      
    >
      <small >
        Введите пароль
      </small>
      <!-- <small *ngIf="form.get('password').errors.minlength">
        Длина пароля должна быть {{form.get('password').errors.minlength.requiredLength}} символов.
        Сейчас он {{form.get('password').errors.minlength.actualLength}} символа
      </small> -->
    </div>
  </div>
  <button
    type="submit"
    [disabled]="form.invalid || submitted"
  >Войти</button>
</form>

