@import '../../../../../styles/_variables.scss';
@import '../../../../../styles/_fonts.scss';

@import '../../../../../styles/_mixins.scss';

.profile-education {
  @include blockMainStyle;
  margin-top: 20px;
  &__container {
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
  }
  &__title {
    @include blockTitleStyle;
  }
}