@import '../../../styles/variables';
@import '../../../styles/fonts';
@import '../../../styles/tabs.scss';
@import '../../../styles/mixins';

.navigation-sidebar {
  @include blockMainStyle;
  background: none;
  &__container {
    @include sidebarContainer;
    padding: 25px 0;
    border-radius: 4px;
  }
  &__content {
    display: flex;
    justify-content: flex-start;
  }
}
.navigation__tabs {
  display: flex;
  flex-direction: column;
}
