@import '../../../styles/variables';
@import '../../../styles/fonts';

@import '../../../styles/mixins';

.navigation-sidebar {
  @include blockMainStyle;
  background: none;
  &__container {
    @include sidebarContainer;
    //width: 100%;
    padding: 25px 0;
  }
  &__content {
    display: flex;
    justify-content: flex-start;
  }
}
.navigation__tabs {
  display: flex;
  flex-direction: column;
}
.tabs {
  &__tab-button {
    font-size: $text-size-small;
    text-transform: uppercase;
    background: $block-color;
    border: solid  #E7E7E7 1px;
    border-bottom: 0;
    padding: 0.8em 2em;
    min-width: 240px;
    font-weight: bold;
    cursor: pointer;
    p {
      margin-left: 10px;
    }
    &--active {
      border-left: 10px solid #0275B1;
    }
  }
  &__tab {
    display: none;
    margin-top: 30px;
    &--active {
      display: block;
    }
  }
}
