@import '../../../../../styles/article-card.scss';
@import '../../../../../styles/mixins';
@import '../../../../../styles/variables';

.articles-for-user {
  @include blockMainStyle;
  margin-top: 20px;
  background: #FCFDFD;
  &__container {
    @include sidebarContainer;
  }
  &__title-container {
    @include sidebarHeaderContainer;
  }
  &__title {
    @include blockTitleStyle;
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
  }

}