<div class="articles-for-user">
  <div class="articles-for-user__container">
    <div class="articles-for-user__title-container">
      <div>
        <h3 class="articles-for-user__title">Tracked jobs</h3>
      </div>
    </div>
    <div *ngFor="let article of articles">
      <div class="article-card">
        <div class="article-card__container">
          <div class="article-card__img_wrapper">
            <img src="{{article.pic}}" alt="">
          </div>
          <div class="article-card__text-wrapper">
            <h3 class="article-card__title">{{article.title}}</h3>
            <p class="article-card__desc"><span>{{article.views}}</span> viewers</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
