<div id="header-sandwitch" class="other">
  <div class="other__blur-block">
  </div>
  <div class="other__menu-wrapper">
    <div class="other__menu-header">
      <button (click)="switchMenu()">
        <img src="../../assets/icons/x.svg" alt="">
        <p class="other__menu-header__close">Close</p>
      </button>
      <div class="other__menu-header__container">
        <div class="other__menu-header__wrapper-title">
          <h3 class="other__menu-header__title">More from LinkedIn</h3>
        </div>
        <div class="other__menu-header__help-button">
          <a class="other__menu-header__help-button__link" href="#">
            <img src="../../../../../assets/icons/help-circle2.svg" alt="">
            <p class="other__menu-header__help-button__title">help</p>
          </a>
        </div>
      </div>
    </div>
    <div class="other__menu-header__content">
      <div class="other__menu-header__wrapper">
        <div class="other__menu-header__wrapper-border">
          <div class="other__menu-header__button-wrapper">
            <button class="button other__menu-header__button">
              <div class="other__menu-header__button__image">
                <img src="../../../../../assets/icons/book-open.svg" alt="">
              </div>
              <div class="other__menu-header__button__text">
                <h3>Learning with LinkedIn</h3>
                <p>Courses, lectures, workshops</p>
              </div>
            </button>
          </div>
          <div class="other__menu-header__menu-block">
            <div class="other__menu-header__menu-group">
              <div class="other__menu-header__menu-item">
                <a class="other__menu-header__menu-link" href="#">
                  <img src="../../../../../assets/icons/GroupInsight.svg" alt="">
                  <p>Insights</p>
                </a>
              </div>
              <div class="other__menu-header__menu-item">
                <a class="other__menu-header__menu-link" href="#">
                  <img src="../../../../../assets/icons/Groups.svg" alt="">
                  <p>groups</p>
                </a>
              </div>
              <div class="other__menu-header__menu-item">
                <a class="other__menu-header__menu-link" href="#">
                  <img src="../../../../../assets/icons/GroupSalary.svg" alt="">
                  <p>salary</p>
                </a>
              </div>
            </div>
            <div class="other__menu-header__menu-group">
              <div class="other__menu-header__menu-item">
                <a class="other__menu-header__menu-link" href="#">
                  <img src="../../../../../assets/icons/GroupAdvertise.svg" alt="">
                  <p>Advertise</p>
                </a>
              </div>
              <div class="other__menu-header__menu-item">
                <a class="other__menu-header__menu-link" href="#">
                  <img src="../../../../../assets/icons/GroupProfinder.svg" alt="">
                  <p>Profinder</p>
                </a>
              </div>
              <div class="other__menu-header__menu-item">
                <a class="other__menu-header__menu-link" href="#">
                  <img src="../../../../../assets/icons/GroupSlideshare.svg" alt="">
                  <p>slideshare</p>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="other__menu-header__menu-services">
          <h3 class="other__menu-header__menu-services__title">Business services</h3>
          <div class="other__menu-header__menu-services__wrapper">
            <a class="other__menu-header__menu-services__link" href="#">
              <p class="other__menu-header__menu-services__name">Talent Solutions</p>
              <p class="other__menu-header__menu-services__description">Find, attract and recruit talent</p>
            </a>
          </div>
          <div class="other__menu-header__menu-services__wrapper">
            <a class="other__menu-header__menu-services__link" href="#">
              <p class="other__menu-header__menu-services__name">Sales Solutions</p>
              <p class="other__menu-header__menu-services__description">Unlock sales opportunities</p>
            </a>
          </div>
          <div class="other__menu-header__menu-services__wrapper">
            <a class="other__menu-header__menu-services__link" href="#">
              <p class="other__menu-header__menu-services__name">Post a job</p>
              <p class="other__menu-header__menu-services__description">Get your job in front of quality candidates</p>
            </a>
          </div>
          <div class="other__menu-header__menu-services__wrapper">
            <a class="other__menu-header__menu-services__link" href="#">
              <p class="other__menu-header__menu-services__name">Marketing Solutions</p>
              <p class="other__menu-header__menu-services__description">Acquire customers and grow your buisness</p>
            </a>
          </div>
          <div class="other__menu-header__menu-services__wrapper">
            <a class="other__menu-header__menu-services__link" href="#">
              <p class="other__menu-header__menu-services__name">Learning Solutions</p>
              <p class="other__menu-header__menu-services__description">Develop talent across your organisation</p>
            </a>
          </div>
        </div>
      </div>
      <div class="other__menu-header__button-wrapper">
        <button class="button other__menu-header__button other__menu-header__button--gold">
          <div class="other__menu-header__button__text">
            <h3>LinkedIn Premium</h3>
            <p>Special features only for premium users</p>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
