<div class="create-message">
  <div class="create-message__container">
    <div class="create-message__text-area-container">
      <form action="" class="create-message__form">
        <input class="create-message__input" type="text" placeholder="Write your message">
      </form>
      <div class="create-message__buttons">
        <button class="create-message__button" href="#">
          <img src="../../../../assets/icons/paperclip.svg" alt="">
        </button>
        <button class="create-message__button create-message__button--blue" href="#">
            <img src="../../../../assets/icons/send.svg" alt="">
        </button>
      </div>
    </div>
  </div>
</div>
