@import './variables';

.filter {
  font-family: Gotham Pro;
  font-size: $text-size-md;
  line-height: 11px;
  text-transform: uppercase;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  text-align:center; 
  position: relative;
  p {
    margin-right: 2px;
  }

  &__select-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
  }
  &__select {
    display: flex;
    flex-direction: column;
    &__trigger {
      font-family: Gotham Pro;
      position: relative;
      font-size: $text-size-md;
      text-transform: uppercase;
      color: #0275B1;
      height: 32px;
      line-height: 11px;
      cursor: pointer;
      background: #F7F9FB;
      display: inline-block;
      z-index: 1;
    }
    &::after {
      content:'';
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      height: 1px;
      background: #E7E7E7;
      z-index:0;
    }
  }

}

.arrow {
  position: relative;
  height: 7px;
  width: 7px;
  margin-left: 5px;
}