@import '../styles/variables';

.tabs {
  &__tab-button {
    font-size: $text-size-small;
    text-transform: uppercase;
    background: $block-color;
    border: solid  #E7E7E7 1px;
    padding: 0.8em 1.5em 0.8em 1em;
    min-width: 240px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      margin-left: 10px;
    }
    span {
      font-size: $text-size-small;
      font-weight: bold;
    }
    div {
      display: flex;
    }
    &--active {
      border-left: 10px solid #0275B1;
      span {
        color: #ED8F03;
      }
      img {
        display: block;
      }
      .tab__tab__point {
        display: block;
      }
    }
  }
  &__tab {
    display: none;
    margin-top: 30px;
    &--active {
      display: block;
    }
    &__point {
      display: none;
      margin-left: 8px;
      margin-bottom: 2px;
    }
  }
  &__tab-count {
    &--active {
      color: #ED8F03;
    }
  }
}
