<div class="profile-education-card">
  <div class="profile-education-card__container">
    <div class="profile-education-card__img-wrapper">
      <img src="{{education.pic}}" alt="">
    </div>
    <div class="profile-education-card__text-wrapper">
      <h3 class="profile-education-card__title">{{education.title}}</h3>
      <div class="profile-education-card__description-wrapper">
        <p class="profile-education__date">{{education.startDate}} - {{education.endDate}}</p>
        <p>{{education.description}}</p>
      </div>
    </div>
  </div>
</div>
