<div class="profile-sidebar-stats">
  <div class="profile-sidebar-stats__container">
    <div class="profile-sidebar-stats__title-container">
      <div>
        <h3 class="profile-sidebar-stats__title">You dashboard</h3>
      </div>
      <div>
        <a class="profile-sidebar-stats__link" href="">Go to stats</a>
      </div>
    </div>
    <div class="profile-sidebar-stats__stats-container">
      <div class="profile-sidebar-stats__stats-wrapper">
        <div class="profile-sidebar-stats__stats-count">{{stat.views.today}}</div>
        <p class="profile-sidebar-stats__stats-desc">views today</p>
      </div>
      <div class="profile-sidebar-stats__stats-wrapper">
        <div class="profile-sidebar-stats__stats-count">{{stat.views.postViews}}</div>
        <p class="profile-sidebar-stats__stats-desc">posts views</p>
      </div>
      <div class="profile-sidebar-stats__stats-wrapper">
        <div class="profile-sidebar-stats__stats-count">{{stat.views.searchApearance}}</div>
        <p class="profile-sidebar-stats__stats-desc">search appereances</p>
      </div>
    </div>
</div>
