<div class="profile__container" *ngIf="profiles$ | async as profiles" >
  <div class="profile__wrapper">
    <app-profile-info
    *ngFor="let profile of profiles"
    [profile]="profile"
    ></app-profile-info>
    <div class="tabs__navigation">
      <button class="tabs__tab-button tabs__tab-button--active" (click)="changeTab($event, 'profile')">Profile</button>
      <button class="tabs__tab-button" (click)="changeTab($event, 'activity')">Activity & interests</button>
      <button class="tabs__tab-button" (click)="changeTab($event, 'articles')">Articles (3)</button>
    </div>
    <div id="profile" class="tabs__tab tabs__tab--active">
      <div class="tabs__tab-item">
        <app-profile-about
          *ngFor="let profile of profiles"
          [profile]="profile"
        ></app-profile-about>
        <app-profile-projects
          *ngFor="let profile of profiles"
          [profile]="profile"
        ></app-profile-projects>
        <app-profile-skills></app-profile-skills>
        <app-profile-experience></app-profile-experience>
        <app-profile-education></app-profile-education>
      </div>
    </div>
    <div id="activity" class="tabs__tab">
      <div class="tabs__tab-item">
        <h2>Здесь пока ничего нет</h2>
      </div>
    </div>
    <div id="articles" class="tabs__tab">
      <div class="tabs__tab-item">
        <h2>Здесь пока ничего нет</h2>
      </div>
    </div>
  </div>
  <div class="profile-sidebar">
    <app-sidebar>
    </app-sidebar>
  </div>
</div>
