<div class="feed-create-post">
  <div class="feed-create-post__container">
    <h2 class="feed-create-post__title">New post</h2>
    <div class="feed-create-post__text-area-container">
      <form action="" class="feed-create-post__form">
        <input class="feed-create-post__input" type="text" placeholder="What's on your mind?">
      </form>
      <div class="feed-create-post__buttons">
        <button class="feed-create-post__button" href="#">
          <img src="../../../../assets/icons/paperclip.svg" alt="">
        </button>
        <button class="feed-create-post__button" href="#">
          <img src="../../../../assets/icons/image.svg" alt="">
        </button>
        <button class="feed-create-post__button" href="#">
          <img src="../../../../assets/icons/film.svg" alt="">
        </button>
        <button class="feed-create-post__button feed-create-post__button--blue" href="#">
            <img src="../../../../assets/icons/send.svg" alt="">
        </button>
      </div>
    </div>
  </div>
</div>
