<div class="profile-info">
  <div class="profile-info__container">
    <div class="profile-info__background">
      <img class="profile-info__img" [src]="profile.infoPic" alt="">
      <button class="profile-info__upload-button" href="#">
        <img src="../../../assets/icons/upload-btn.svg" alt="">
      </button>
      <div class="profile-info__group-buttons">
        <button class="profile-info__edit-button" href="#">
          <img src="../../../assets/icons/edit-btn.svg" alt="">
          <p>Edit profile</p>
        </button>
        <button class="profile-info__more-button" href="#">
          <img src="../../../assets/icons/more-btn.svg" alt="">
        </button>
      </div>
    </div>
    <div class="profile-info__content">
      <div class="profile-info__avatar">
        <img [src]="profile.avatar" alt="">
      </div>
      <div class="profile-info__user-info">
        <div class="profile-info__wrapper">
          <div class="profile-info__title">
            <p class="profile-info__name">{{profile.firstName}} {{profile.lastName}}</p>
            <img [src]="profile.userLogo" alt="">
          </div>
          <div class="profile-info__location">
            <img src="../../../assets/icons/navigation.svg" alt="">
            <p>{{profile.location}}</p>
          </div>
        </div>
        <div class="profile-info__desc">
          <p>{{profile.description}}</p>
        </div>
        <div class="profile-info__buttons">
          <div class="profile-info__button">
            <button class="button" href="#">Contact info</button>
          </div>
          <div class="profile-info__button">
            <button class="button button--white" href="#"><span>1234</span> Connections</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
