@import '../../../../../styles/_variables.scss';
@import '../../../../../styles/_fonts.scss';

@import '../../../../../styles/_mixins.scss';

.profile-experience {
  @include blockMainStyle;
  margin-top: 20px;
  &__container {
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
  }
  &__title {
    @include blockTitleStyle;
  }
  &__list {
    & > :first-child {
      & > :first-child {
        border-bottom: solid 2px #F4F4F4;
      }
    }
  }
}