@import '../../../../styles/filter.scss';
@import '../../../../styles/variables';
@import '../../../../styles/fonts';
@import '../../../../styles/buttons.scss';
@import '../../../../styles/mixins';
@import '../../../../styles/tabs.scss';
@import '../../../../styles/filter.scss';

.new-connections {
  &__card {
    @include blockMainStyle;
    margin-bottom: 10px;
  }
}

::ng-deep {
  .mat-tab-label-content {
    text-transform: uppercase !important;
  }
  .mat-tab-label {
    min-width: 240px !important;
  }
  .mat-ripple {
    @include tabsButton;
  }
  .mat-ink-bar {
    background: #0077B5 !important;
  }
}

.invitations-card {
  @include blockMainStyle;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 20px 30px;
  justify-content: space-between;
  &__container {
    display: flex;
    align-items: center;
  }
  &__img-wrapper {
    width: 54px;
    height: 54px;
    margin-right: 16px;
    img {
      width: auto;
      height: auto;
    }
  }
  &__text-wrapper {
    h3 {
      font-size: $text-size-md;
      margin: 0;
    }
    p {
      font-size: $text-size-very-sm;
      margin-top: 10px;
    }
  }
  &__message-wrapper {
    border-left: 2px solid #0275B1;
    margin: 0 50px;
    width: 100%;
  }
  &__message {
    padding-left: 15px;
    font-size: $text-size-small;
  }
  &__buttons-wrapper {
    display: flex;
  }
  &__button {
    min-width: 8.5em !important;
    margin-right: 15px;
  }
}

.filter {
  width:100%;
  text-align:center; 
  position: relative;
  &__select__trigger {
  color: #0275B1;
  position:relative; 
  padding:10px; 
  background: #F7F9FB;
  display: inline-block;
  z-index: 1;
  span {
    color: #181818;
  }
  }
  &::after {
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 1px;
    background: #E7E7E7;
    z-index:0;
  }
}

.recent {
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 0 0 100%;
    min-width: 100%;
    //padding-right: 5px;
  }
  &__item {
    flex: 1 0 0;
    min-width: 50%;
    &:nth-child(odd) {
      padding-right: 5px;
    }
    &:nth-child(even) {
      padding-left: 5px;
    }
    //padding-right: 5px;
  }
}