<div class="jobs-search">
  <div class="jobs-search__container">
    <h2 class="jobs-search__title">Your dream job is here</h2>
    <div class="jobs-search__text-area-container">
      <form action="" class="jobs-search__form">
        <input class="jobs-search__input" type="text" placeholder="Search jobs">
      </form>
      <div class="jobs-search__buttons">
        <button class="jobs-search__button" href="#">
          <img src="../../../../assets/icons/sliders.svg" alt="">
        </button>
        <button class="jobs-search__button jobs-search__button--blue" href="#">
            <img src="../../../../assets/icons/search.svg" alt="">
        </button>
      </div>
    </div>
  </div>
</div>
