<div class="post-card">
  <div class="post-card__header">
    <ng-template postRef></ng-template>
    <div class="post-card__footer__shared">
      <button class="post-card__button-more">
        <img src="../../../../assets/icons/more-horizontal.svg" alt="">
      </button>
    </div>
  </div>
  <div class="post-card__container">
    <div class="post-card__user-info">
      <div class="post-card__avatar-container">
        <img [src]="post.avatar" alt="">
      </div>
      <div class="post-card__user-description">
        <p class="post-card__user-name">{{post.author}}</p>
        <p class="post-card__user-profession">{{post.profession}}</p>
      </div>
    </div>
    <div class="post-card__content">
      <p class="post-card__content__text">{{post.description}}</p>
      <img [src]="post.attachPic" [ngStyle]="{'display':post.attachPic === undefined ? 'none' : 'block'}" alt="">
      <div class="post-card__attach-file" [ngStyle]="{'display':post.attachFile === undefined ? 'none' : 'block'}" *ngFor="let file of attachFiles">
        <div class="post-card__attach-file__container">
          <div class="post-card__attach-file__wrapper">
            <div class="post-card__attach-file__icon">
              <img src="../../../../assets/icons/attachFile.svg" alt="">
            </div>
            <div class="post-card__attach-file__info">
              <p class="post-card__attach-file__info__name">{{file.name}}</p>
              <p class="post-card__attach-file__info__desc"><span>{{file.type}} file, </span>{{file.size}}</p>
            </div>
          </div>
          <div class="post-card__attach-file__button-container">
            <button class="post-card__attach-file__button">
              <img src="../../../../assets/icons/download-cloud.svg" alt="">
            </button>
          </div>
        </div>
      </div>
    </div>  
  </div>
  <div class="post-card__wrapper-link" [ngStyle]="{'display':post.description.length >= 100 ? 'none' : 'block'}">
    <a class="post-card__link" href="#">read more</a>
  </div>
  <div class="post-card__footer">
    <div class="post-card__footer__post-menu">
      <div class="post-card__footer__menu-item">
        <div>
          <a href="#">
            <img src="../../../../assets/icons/thumbs-up.svg" alt="">
          </a>
        </div>
        <p>{{post.likesCount}}</p>
      </div>
      <div class="post-card__footer__menu-item">
        <div>
          <a href="#">
            <img src="../../../../assets/icons/message-circle.svg" alt="">
          </a>
        </div>
        <p>{{post.commentCount}}</p>
      </div>
    </div>
    <div class="post-card__footer__shared">
      <button class="post-card__button-shared">
        <img src="../../../../assets/icons/share.svg" alt="">
        <p>Share</p>
      </button>
    </div>
  </div>
</div>
