<div class="chat-room">
  <div class="chat-room__container">
    <div class="chat-room__header">
      <div class="chat-room__header-wrapper">
        <div class="chat-room__header__title">Chat with <span>{{chatRoom.companion}}</span></div>
        <div class="chat-room__header__info" 
        [ngStyle]="{'display':chatRoom.lastOnline === undefined ? 'none' : 'block'}">Last online {{chatRoom.lastOnline}}</div>
      </div>
      <div class="chat-room__shared-files">
        <div class="chat-room__shared-files__img-wrapper">
          <img src="../../../../assets/icons/paperclip-blue.svg" alt="">
        </div>
        <p class="chat-room__shared-files__count-text">shared media <span>({{chatRoom.sharedFilesCount}})</span> </p>
      </div>
    </div>
    <ul class="chat-room__messages">
      <li
      class="chat-room__message"
      *ngFor="let message of messages"
      [attr.data-message-id]="message.id"
      [ngClass]="{'chat-room__message--current-user':message.currentUser === true}"
      >
      <div class="chat-room__message-container">
        <div class="chat-room__message-wrapper">
          <div 
          class="chat-room__text"
          [ngClass]="{'chat-room__text--current-user':message.currentUser === true}"
          >{{message.text}}
          </div>
          <div class="chat-room__message-info__wrapper"
          [ngClass]="{'chat-room__message-wrapper--current-user':message.currentUser === true}"
          >
            <div [ngStyle]="{'display':message.currentUser === true ? 'block' : 'none'}">
              <img src="../../../../assets/icons/Read.svg" alt=""
              [ngStyle]="{'display':message.readAll === true ? 'block' : 'none'}"
              >
            </div>
            <div class="chat-room__date"
            >{{message.time}}
            </div>
          </div>
        </div>
        <div class="chat-room__img-container">
          <img 
          src="{{message.userPic}}" 
          alt="" 
          [ngStyle]="{'display':message.currentUser === true ? 'none' : 'block'}"
          >
        </div>
      </div>
      </li>
    </ul>
    <app-create-message></app-create-message>
  </div>
</div>
