@import '../../../../styles/mixins';
@import '../../../../styles/variables';

.chat-room {
  &__container {
    @include blockMainStyle;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
    border-bottom: solid 2px #F4F4F4;
    &__title {
      font-size: $text-size-small;
      text-transform: uppercase;
      margin: 0;
      span {
        color: #0275B1;
        cursor: pointer;
        &:hover {
          opacity: 0.3
        }
      }
    }
    &__info {
      margin-left: 15px;
      font-size: $text-size-small;
      line-height: 11px;
      text-transform: uppercase;
      opacity: 0.6;
    }
  }
  &__header-wrapper {
    display: flex;
  }
  &__shared-files {
    display: flex;
    align-items: center;
    cursor: pointer;
    &__img-wrapper {
      width: 24px;
      height: 24px;
    }
    &__count-text {
      font-size: $text-size-small;
      line-height: 11px;
      text-transform: uppercase;
      margin-left: 10px;
    }
    &:hover {
      opacity: 0.4;
    }
  }
  &__messages {
    padding: 0;
    overflow: auto;
    height: 25em;
    margin: 0;
  }
  &__message-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &--current-user {
      align-self: flex-start;
    }
  }
  &__message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px 22px;
    &--current-user {
      align-items: flex-start;
    }
  }
  &__message-info {
    &__wrapper {
      display: flex;
      align-items: center;
      margin-top: 5px;
    }
  }
  &__message-container {
    display: flex;
  }
  &__img-container {
    width: 46px;
    height: 46px;
    margin-left: 15px;
    cursor: pointer;
    img {
      //width: 100%;
      height: 100%;
      border-radius: 26px;
    }
  }
  &__text {
    background: #E9F0F8;
    //min-width: 4.5em;
    max-width: 30.5em;
    border-radius: 4px;
    font-size: $text-size-md;
    padding: 12px 20px;
    line-height: 150%;
    &--current-user {
      background: #0275B1;
      color: #fff;
    }
  }
  &__date {
    font-size: $text-size-very-sm;
    opacity: 0.6;
  }
}