<div class="profile-experience-card">
  <div class="profile-experience-card__container">
    <div class="profile-experience-card__img-wrapper">
      <img src="{{experience.pic}}" alt="">
    </div>
    <div class="profile-experience-card__text-wrapper">
      <h3 class="profile-experience-card__title">{{experience.title}}</h3>
      <div class="profile-experience-card__description-wrapper">
        <p>{{experience.type}}</p>
        <p>{{experience.startDate}} - {{experience.endDate}}</p>
        <p>{{experience.description}}</p>
      </div>
    </div>
  </div>
</div>
