<div class="chat-list">
  <div class="chat-list__container">
    <div class="chat-list__title-container">
      <div>
        <h3 class="chat-list__title">Chats</h3>
      </div>
    </div>
    <button class="tabs__tab-button"
    *ngFor="let chatLink of chatLinks; let i = index"
    [ngClass]="{'tabs__tab-button--active': i === 0}"
    (click)="switchChatLink($event, chatLink.id)"
    >
    <div class="chat-list__img-wrapper">
      <img src="{{chatLink.userPic}}" alt="">
      <img 
      [ngStyle]="{'display':chatLink.online === true ? 'block' : 'none'}"
      class="status" src="../../../../assets/icons/Ellipse 2.1.svg" alt="">
      <img 
      [ngStyle]="{'display':chatLink.online === false ? 'block' : 'none'}"
      class="status" src="../../../../assets/icons/Ellipse 2.2.svg" alt="">
    </div>
    <div class="chat-list__info-wrapper">
      <p>{{chatLink.name}}</p>
      <p class="chat-list__last-message">{{chatLink.lastMessage}}</p>
    </div>
    </button>
  </div>
  <div class="chat-list__button-block">
    <button class="button chat-list__button">start new chat</button>
  </div>
</div>
